
/************************************************** INCLUDES ******************************/
@import "_components/_variables";
@import "_components/_reset";
@import "_components/_grid";

/************************************************** GLOBAL ******************************/
body{
  background: #e3e4e6;
}

section .wrapper{
  padding: 10px 0;
  overflow: hidden;
}

/************************************************** HEADER ******************************/
header{
  border-bottom: 5px solid #d9cb9e;
}

.logo{
  padding: 15px 0;
}

.page_item{
  margin-left: 22.8px;
  display: inline-block;

  &:first-child{
    margin-left: 0;
  }

  a{
    padding: 10px 0;
    display: block;
    position: relative;

    color: #303030;
    text-transform: uppercase;

    @include transition(3);

    &:before{
      width: 0%;
      height: 5px;
      border-radius: 100%;
      background: darken( $color-2 , 20% );
      position: absolute;
      top: 100%;
      z-index: 5;
      left: 50%;

      @include transition(3);

      content: " ";
    }

    &:hover{
      color: $color-2;

      &:before{
        width: 100%;
        border-radius: 0%;
        background: $color-2;
        left: 0%;
      }
    }
  }
}

/************************************************** FOOTER ******************************/
footer{
  padding: 15px 0;
  background: #2b2b2b;
}

.footer-icon{
  padding: 0 5px;

  font-size: convert-px-em(18);
  color: $color-2;

  @include transition(3);

  &:hover{
    color: lighten( $color-2 , 15% );
  }
}

.developer{
  display: block;
  padding: 10px 0;
}

/************************************************** SECTION ******************************/
.category-title{
  font-size: convert-px-em(30);
  color: $color-2;
  text-transform: uppercase;
  font-weight: bold;
}

.featured{
  margin-bottom: 35px;
  overflow: hidden;
  
  &-large{
    width: 590px;

    .featured-description{
      width: 60%;
    }
  }

  &-small{
    width: 350px;

    .featured-description{
      width: 80%;
    }
  }

  &-item{
    margin-right: 10px;
    margin-bottom: 10px;
    height: 350px;
    overflow: hidden;
    background: #333;
    position: relative;
    float: left;

    &:hover{
      .featured-thumb, .featured-description{
        @include transition(3);
      }

      .featured-thumb{
        opacity: .7;
        -webkit-transform: scale(1.4) rotate(7deg);
        -moz-transform: scale(1.4) rotate(7deg);
        transform: scale(1.4) rotate(7deg);
      }

      .featured-description{
        background: rgba( 0 , 0 , 0 , .9 );
      }

      .featured-category{
        &:before{
          width: 20%;
        }
      }

      .featured-title{
        color: lighten( $color-2 , 15% );
      }
    }
  }

  &-thumb, &-description, &-category:before, &-title{
    @include transition(5);
  }

  &-thumb{
    opacity: 1;
  }

  &-description{
    padding: 15px;
    background: rgba( 0 , 0 , 0 , .7 );
    position: absolute;
    bottom: 15px;
    left: 0;
  }

  &-category, &-title{
    color: #fff;
    text-transform: uppercase;
  }

  &-category{
    margin-bottom: 7px;
    display: block;

    font-size: convert-px-em(14);
    position: relative;

    &:before{
      width: 10%;
      height: 1px;
      background: #fff;
      position: absolute;
      top: 115%;
      left: 0;

      content: " ";
    }
  }

  &-title{
    font-size: convert-px-em(20);
    font-weight: bold;
  }
}

.latest{
  margin-top: 25px;
  margin-bottom: 35px;
  overflow: hidden;

  &-item{
    overflow: hidden;

    &:nth-child(odd){
      &:hover{
        .latest-thumb{
          -webkit-transform: scale(1.1) rotate(-2deg);
          -moz-transform: scale(1.1) rotate(-2deg);
          transform: scale(1.1) rotate(-2deg);
        }
      }
    }

    &:nth-child(even){
      &:hover{
        .latest-thumb{
          -webkit-transform: scale(1.1) rotate(2deg);
          -moz-transform: scale(1.1) rotate(2deg);
          transform: scale(1.1) rotate(2deg);
        }
      }
    }

    &:hover{
      .latest-thumb{
        -webkit-filter: brightness(1.25);
      }

      .latest-title{
        color: $color-2;
      }
    }
  }

  &-thumb, &-title{
    @include transition(5);
  }

  &-thumb{
    margin-bottom: 15px;
    max-height: 190px;
  }

  &-category, &-date{
    font-size: convert-px-em(13);
    text-transform: uppercase;
  }

  &-category{
    color: $color-2;
  }

  &-date{
    color: $color-3;
  }

  &-title{
    font-size: convert-px-em(17);
    color: darken( $color-3 , 30% );
    text-transform: uppercase;
    font-weight: bold;
  }
}